.speakers {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  display: flex;
  flex-direction: column;
  background-color: $lightColor;
}

.swiper {
  max-width: 1006px;
  height: 570px;
  margin: 70px 0 80px;
  
  &__title {
    @include font(300, normal, 60px, 84px);
    color: #0A2756;
    margin-bottom: 50px;
    margin-left: 105px;
  }

  &-wrapper {
    height: 376px !important;
  }

  &-slide {
    display: flex !important;
    justify-content: flex-end;
    &:nth-child(even) {
      justify-content: flex-start;
    }
  }

  &-pagination-bullet {
    width: 13px !important;
    height: 13px !important;
    &-active {
      background-color: #0A2756 !important;
    }
  }

  &-button-prev {
    width: 29px;
    height: 84px !important;
    background: url(./images/arrow.svg) center;
    background-size: cover;
    margin-top: auto !important;
    rotate: 180deg;
    &::after {
      display: none;
    }
  }

  &-button-next {
    width: 29px;
    height: 84px !important;
    background: url(./images/arrow.svg) center;
    background-size: cover;
    margin-top: auto !important;
    &::after {
      display: none;
    }
  }

  &-slide__container {
    width: 378px;
    height: 376px;
    position: relative;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    div {
      height: 111px;
      background: rgba(0, 128, 255, 0.7);
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 25px 29px;
    }

    p {
      color: #fff;
      @include font(550, normal, 24px, 24px);
      margin-bottom: 15px;
      &:last-of-type {
        margin-bottom: 0;
        @include font(400, normal, 18px, 18px);
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .swiper {
    max-width: 800px;
    height: 470px;
    margin: 20px 0 20px;
    &__title {
      font-size: 50px;
      margin-left: 86px;
    }
  }
  .swiper-slide__container {
    width: 294px;
    height: 292px;
    div {
      height: 85px;
      padding: 10px 20px;
    }
  }
  .swiper-button-prev {
    display: none !important;
  }
  .swiper-button-next {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .swiper {
    max-width: 280px;
    margin-left: 0;
    margin-right: 0;
    &__title {
      font-size: 40px;
      margin-left: 0;
    }
  }
  .swiper-wrapper {
    height: 294px !important;
  }
  .swiper-slide { 
    justify-content: center;
  }
  .swiper-slide__container {
    width: 280px;
    height: 277px;
    div {
      height: 81px;
    }
    p {
      font-size: 17px;
      &:last-of-type {
        font-size: 14px;
      }
    }
  }
}